<template>
  <div class="home">
    <Hints v-bind:hints="hints"/>
    <modalWindow/>
  </div>
</template>

<script>
import Hints from "../components/Hints.vue";
import modalWindow from '../components/ModalWindow.vue'


export default {
  name: "app",
  components: {
    Hints,
    modalWindow
  },
  computed: {
    hints() {
      return this.$store.state.hints.hints;
    }
  },
  created() {
    this.$store.dispatch("hints/getAll");
  },
  methods: {
    scroll () {
      window.onscroll = () => {
        let bottomOfWindow = document.documentElement.scrollTop + window.innerHeight === document.documentElement.offsetHeight;
        if (!bottomOfWindow) return;

        if (this.$store.state.hints.isSearch) {
          this.$store.dispatch("hints/search");
        } else {
          this.$store.dispatch("hints/getAll");
        }
      };
    },
  },
  mounted() {
    this.scroll();
  }
};
</script>
