<template>
  <div>
    <form class="hint-form" @submit="addHint">
      <input type="text" v-model="command" name="command" placeholder="Add command...">
      <input type="text" v-model="description" name="description" placeholder="Add description...">
      <input type="submit" value="Submit" class="btn">
    </form>
  </div>
</template>

<script>
export default {
  name: "AddHint",
  data() {
    return {
      command: '',
      description: ''
    }
  },
  methods: {
    addHint(e) {
      e.preventDefault();
      const newHint = {
        command: this.command,
        description: this.description
      }
      this.$store.dispatch("hints/add", newHint);

      this.command = '';
      this.description = '';
    }
  }
}
</script>

<style scoped>
  .hint-form {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background: #f4f4f4;
    padding: 10px;
    padding-left: 29px;
    margin-bottom: 5px;
    border: 1px #ccc solid;
    border-radius: 5px;
  }

  input[type="text"] {
    order: 1;
    width: 80%;
    padding: 5px;
  }

  input[type="description"] {
    order: 3;
    width: 100%;
    padding: 5px;
  }

  input[type="submit"] {
    order: 2;
    width: 20%;
  }
</style>
