<template>
  <header class="header">
    <div class="logo">Hints list</div>
    <div class="nav d-none">
      <router-link to="/">Home</router-link>
      <router-link to="/about">About</router-link>
      <router-link to="/login">Login</router-link>
    </div>
    <div class="panel container">
      <button type="button" class="btn-add reset-btn" @click="showModalWindow">
        <span class="visually-hidden">Add</span>+
      </button>
      <!-- Think it's exactly what I'm looking for -->
      <input type="text" name="search-hints" id="search-hints" placeholder="Search..." v-model="query">
      <button type="button" class="btn" @click=searchHints>Search</button>
      <button type="button" class="btn" @click=getAllHints>Reset search</button>
      <button type="button" v-on:click="openDropdown">All tags</button>
      <div class="select-tags d-none">
        <input type="text" name="search-tags" id="search-tags">
        <div class="tags">
          <span class="tag" style="background-color: #6C6BB4">Docker</span>
          <span class="tag" style="background-color: #BE0606">Docker-Compose</span>
        </div>
      </div>
    </div>
    <div class="user">
      <p class="user__name">Nicolas Cage</p>
      <button type="button" class="btn-exit reset-btn">
        <span class="visually-hidden">Exit</span>
        <svg width="24" height="24" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.9469 29.2891H3.98669C3.25312 29.2891 2.65781 28.6937 2.65781 27.9602V4.03991C2.65781 3.30635 3.25319 2.71104 3.98669 2.71104H15.9469C16.6817 2.71104 17.2757 2.11704 17.2757 1.38216C17.2757 0.647287 16.6817 0.0531616 15.9469 0.0531616H3.98669C1.78869 0.0531616 0 1.84191 0 4.03991V27.9602C0 30.1582 1.78869 31.9468 3.98669 31.9468H15.9469C16.6817 31.9468 17.2757 31.3528 17.2757 30.618C17.2757 29.8831 16.6817 29.2891 15.9469 29.2891Z"/><path d="M31.604 15.0538L23.5242 7.0804C23.0033 6.56477 22.1608 6.57146 21.6452 7.09371C21.1295 7.61596 21.1349 8.45715 21.6585 8.97277L27.4325 14.6711H11.9601C11.2252 14.6711 10.6312 15.2651 10.6312 16C10.6312 16.7348 11.2252 17.3289 11.9601 17.3289H27.4325L21.6585 23.0272C21.1349 23.5428 21.1309 24.384 21.6452 24.9063C21.9056 25.1694 22.2485 25.3023 22.5914 25.3023C22.9289 25.3023 23.2664 25.1747 23.5242 24.9195L31.604 16.9461C31.8565 16.6963 32 16.356 32 15.9999C32 15.6439 31.8578 15.305 31.604 15.0538Z"/>
        </svg>
      </button>
    </div>
</header>
</template>

<script>
export default {
  name: "Header",
  data() {
    return {
      query: ''
    }
  },
  methods: {
    openDropdown(evt) {
      evt.target.nextElementSibling.classList.toggle('d-none');
    },
    searchHints() {
      const query = this.query;
      this.$store.dispatch("hints/search", query);
    },
    showModalWindow() {
      this.$modal.show("form-window");
    },
    hideModalWindow() {
      this.$modal.hide("form-window");
    },
    getAllHints() {
      this.$store.dispatch("hints/getAll");
    }
  }
}
</script>

<style  lang="scss">
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid black;

  a:not(:last-child) {
    margin-right: 15px;
  }

  .logo {
    font-family: monospace;
    font-size: 26px;
    line-height: 1;
  }

  .user {
    display: flex;
  }

  .btn-add {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
  }

  .btn-exit {
    width: 24px;
    height: 24px;

    svg {
      fill: black;
    }

    &:hover svg {
      fill: red;
    }
  }
}
</style>
