<template>
  <div class="hint__controls controls">
    <button type="button" class="edit-button" @click="showModalWindow">
      <span class="visible-hidden"></span>
      <i>
        <svg
          version="1"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 459 459"
        >
          <path
            d="M0 362v97h97l280-283-97-97L1 362zm451-260c11-10 11-25 0-36L393 8a25 25 0 0 0-36 0l-46 46 97 96 43-48z"
          />
        </svg>
      </i>
    </button>
    <button type="button" @click="$emit('del-hint', hint.id)" class="del-button">
      <span class="visible-hidden"></span>
      <i>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 226 226"
          style="enable-background:new 0 0 226 226"
        >
          <path
            d="M208.5 30h-52V0h-86v30h-53v42h16.429l12.039 154h136.095l12.04-154H208.5V30zm-116-8h42v7h-42v-7z"
          />
        </svg>
      </i>
    </button>
  </div>
</template>

<script>
export default {
  name: "HintControls",
  props: ["hint"],
  methods: {
    showModalWindow() {
      this.$modal.show("form-window");
    },
    hideModalWindow() {
      this.$modal.hide("form-window");
    }
  }
};
</script>

<style lang="scss">

.controls {
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 4px;
    padding: 4px;
    cursor: pointer;
    transition: left 0.5s;
    background-color: transparent;
  }

  button:hover,
  button:focus {
    box-shadow: 2px 2px #8d8d8d;
  }

  button svg {
    fill: white;
  }

  .edit-button {
    background-color: #2ec22e;
  }

  .del-button {
    background-color: #d83232;
  }
}
</style>
