<template>
  <div class="container">
    <div v-bind:key="hint.id" v-for="hint in hints">
      <HintItem v-bind:hint="hint" v-on:del-hint="deleteHint" />
    </div>
  </div>
</template>

<script>
import HintItem from './HintItem.vue';

export default {
  name: "Hints",
  components: {
    HintItem
  },
  props: ["hints"],
  methods: {
    deleteHint(id) {
      this.$store.dispatch("hints/del", id);
    }
  }
}
</script>

<style>

</style>
