<template>
  <div class="hint" tabindex="0" v-on:click="switchView" v-bind:class="{ 'is-opened': isExpanded }">
    <div class="hint__view-indicator">
      <span class="arrow"></span>
    </div>
    <div class="hint__content">
      <div class="hint__command-wrap">
        <p class="hint__command">{{ hint.command }}</p>
        <button type="button" class="hint__btn-copy reset-btn" v-on:click.stop="copyThis">
          <span class="visually-hidden">Copy</span>
          <i>
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M9.00983 2.4485H2.50153C1.89084 2.4485 1.39484 2.94451 1.39484 3.5552V12.8933C1.39484 13.504 1.89084 14 2.50153 14H9.00983C9.62053 14 10.1165 13.504 10.1165 12.8933V3.5552C10.1137 2.94451 9.61766 2.4485 9.00983 2.4485ZM9.33955 12.8904C9.33955 13.0739 9.19046 13.223 9.00697 13.223H2.49867C2.31517 13.223 2.16608 13.0739 2.16608 12.8904V3.5552C2.16608 3.37171 2.31517 3.22262 2.49867 3.22262H9.00697C9.19046 3.22262 9.33955 3.37171 9.33955 3.5552V12.8904Z"/><path d="M11.4984 0H4.99016C4.37947 0 3.88347 0.496007 3.88347 1.1067C3.88347 1.32173 4.05549 1.49375 4.27053 1.49375C4.48556 1.49375 4.65758 1.32173 4.65758 1.1067C4.65758 0.923203 4.80667 0.774114 4.99016 0.774114H11.4984C11.6819 0.774114 11.831 0.923203 11.831 1.1067V10.4448C11.831 10.6283 11.6819 10.7774 11.4984 10.7774C11.2834 10.7774 11.1114 10.9494 11.1114 11.1644C11.1114 11.3795 11.2834 11.5515 11.4984 11.5515C12.1091 11.5515 12.6051 11.0555 12.6051 10.4448V1.1067C12.6051 0.496007 12.1091 0 11.4984 0Z"/>
            </svg>
          </i>
        </button>
      </div>
      <p class="hint__description">{{ hint.description }}</p>
    </div>
    <div class="hint__tags">
      <span class="tag" style="background-color: #6C6BB4">Docker</span>
      <span class="tag" style="background-color: #BE0606">Docker-Compose</span>
    </div>
    <HintControls v-bind:hint="hint" v-on:del-hint="$emit('del-hint', hint.id)" />
  </div>
</template>

<script>
import HintControls from "./HintControls.vue";

export default {
  name: "HintItem",
  data: function () {
    return {
      isExpanded: false
    }
  },
  components: {
    HintControls
  },
  props: ["hint"],
  methods: {
    switchView() {
      this.isExpanded = !this.isExpanded;
    }
  }
};
</script>

<style scoped lang="scss">

.hint {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  position: relative;
  font-size: 14px;
  border-bottom: 1px solid #3e3e3e;
  background-color: #ffffff;
  transition: background-color 0.3s ease 0.5s;
  outline: none;
  cursor: pointer;

  &__view-indicator {
    width: 15px;
    padding-top: 5px;
    margin-right: 5px;
    flex-shrink: 0;
  }

  &__content {
    width: 60%;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
  }

  &__command-wrap {
    display: flex;
    align-items: flex-start;
    margin-bottom: 4px;
  }

  &__btn-copy {
    padding-top: 2px;
    padding-bottom: 2px;

    svg {
      fill: #000000;
    }

      &:hover svg,
      &:focus svg {
        fill: #0099ff;
      }
  }

  &__command {
    font-family: monospace;
  }

  &__command,
  &__description {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__tags {
    max-width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 15px;
  }

  &__controls {
    position: absolute;
    top: 0;
    left: 95%;
    // right: 5px;
    padding-top: 5px;
    padding-left: 10px;
    z-index: -1;
    opacity: 0;
    transition: left 0.5s cubic-bezier(0.75, 0, 0.6, 1), opacity 0.5s cubic-bezier(0.6, -0.28, 0.74, 0.05);
    // transition: all 0.5s;
  }

  // &:focus &__controls,
  &:hover &__controls {
    left: 100%;
    z-index: 0;
    opacity: 1;
  }
}

.is-opened .hint {
  &__view-indicator .arrow {
    transform: rotate(45deg);
  }

  &__command,
  &__description {
    white-space: normal;
    text-overflow: unset;
  }

  // &__controls {
  //   left: 100%;
  //   z-index: 0;
  //   opacity: 1;
  // }
}

.arrow {
  display: block;
  width: 8px;
  height: 8px;
  margin: auto;
  border: 2px solid #3e3e3e;
  border-left: none;
  border-top: none;
  transform: rotate(-45deg);
  transition: transform 0.3s;
}

// TODO: перенести в другие компоненты
.tag {
  line-height: 18px;
  color: #ffffff;
  white-space: nowrap;
  background: #6c6bb4;
  border-radius: 18px;
  padding-left: 10px;
  padding-right: 10px;

  &:not(:last-of-type) {
    margin-bottom: 4px;
  }
}

</style>
