<template>
  <modal name="form-window" classes="modal-for-hint" height="auto">
    <form id="form-hint" class="hint-form" @submit="addHint">
      <div>
        <textarea type="text" class="hint-form__field" v-model="command" name="command" placeholder="Enter command here..."></textarea>
        <textarea type="text" class="hint-form__field" v-model="description" name="description" placeholder="Enter description here..."></textarea>
      </div>
      <p>Choose tags</p>
      <Tags v-bind:tags="tags"/>
    </form>
    <p>Or add a new one tags</p>
    <input type="text" class="tag tag--field" name="newTag" placeholder="Add new tag..." v-model="newTag">
    <button type="button" @click="addTag">add</button>
    <div class="">
      <button type="submit" form="form-hint" class="btn-modal">Save</button>
      <button type="button" class="btn-modal" @click="$modal.hide('form-window')">Cancel</button>
    </div>
  </modal>
</template>

<script>
import Tags from "./Tags"

export default {
  name: "modalWindow",
  components: {
    Tags
  },
  computed: {
    tags() {
      return this.$store.state.tags.tags;
    }
  },
  created() {
    this.$store.dispatch("tags/getAllTags");
  },
  methods: {
    addTag() {
      const newTag = {
        name: this.newTag
      }
      this.$store.dispatch("tags/addTag", newTag);
    },
    addHint(evt) {
      evt.preventDefault();
      const newHint = {
        command: this.command,
        description: this.description
      }
      this.$store.dispatch("hints/add", newHint);

      this.command = '';
      this.description = '';
    }
  }
};
</script>

<style lang="scss">
.modal-for-hint {
  padding: 30px 20px;
  background-color: #ffffff;
}

.hint-form {
  &__field {
    display: block;
    min-width: 100%;
    max-width: 100%;
    min-height: 55px;
    max-height: 150px;

    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }
}
.btn-modal {
  &:not(:last-of-type) {
    margin-right: 15px;
  }
}
</style>
