<template>
  <span class="">
    <input :id="tag.name" class="tag-checkbox d-none" type="checkbox" v-bind:value="tag.name">
    <label :for="tag.name" class="tag tag-label" style="background-color: #BE0606">{{ tag.name }}</label>
  </span>
</template>

<script>
export default {
  name: "TagItem",
  props: ["tag"]
}
</script>

<style lang="scss">
span:not(:last-of-type) {
  margin-right: 5px;
}

.tag {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  // background-color: #6c6bb4;
  color: #ffffff;
  white-space: nowrap;
  border-radius: 18px;
  padding-left: 10px;
  padding-right: 10px;

  &:not(:last-of-type) {
    margin-bottom: 4px;
  }

  &-label {
    cursor: pointer;

    &:hover,
    &:focus {
      box-shadow: 1px 1px 3px 0px #949494;
      opacity: 1 !important;
    }
  }

  &-checkbox:not(:checked) + .tag-label {
    background-color: #6b6b6b !important;
    opacity: 0.8;
  }

  &--field {
    background-color: transparent;
    color: #000000;
    border: 1px solid black;
  }
}
</style>
