<template>
  <div>
    <div v-bind:key="tag.id" v-for="tag in tags">
      <TagItem v-bind:tag="tag"/>
    </div>
  </div>
</template>

<script>
import TagItem from './TagItem.vue';

export default {
  name: "Tags",
  components: {
    TagItem
  },
  props: ["tags"]
}
</script>

<style>

</style>
